@import url(base.css);
/* 头部开始*/
body{
    background: url("../img/footer-bg.jpg");
}
header{
    width: 100%;
    height: 639px;
    overflow: hidden;
}
.box{
    width:100%;
    height: 100%;
    background: red;
    position: relative;
}
.box>.boxmask{
    width: 100%;
    height:auto;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.5);
   position: absolute;
   top: 0;
   left: 0;
   /* right: 0;
   bottom: 0;
   margin: auto; */
}
.boxmask>.container{
    width: 100%;
    height: 100%;
}
.boxmask .leftb{
    height: 2px;
    background: #fff;
    margin: 120px 0 40px 0;
}
.boxmask .rightb{
    height: 2px;
    background: #fff;
    margin: 120px 0 40px 0;
}
.boxmask .hh2{
    font-size: 24px;
    color: #fff;
    text-align: center;
    margin: 110px 0 40px 0;
}
.boxmask .pp{
    font-size: 20px;
    color: #fff;
    line-height: 30px;
    text-align: center;
    margin: 20px 0;
}
.boxmask .hh3{
    font-size: 30px;
    color: #fff;
    text-align: center;
    margin: 30px 0;
}
.boxmask .boxall{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.boxmask .boxall>.boxll{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: pink;
    font-size: 30px;
    font-weight: 900;
    color: #fff;
    text-align: center;
    line-height: 100px;
    margin: 79px 10px;
}
.box>ul{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.box>ul>li{
    width: 100%;
    height: 100%;
    float: left;
    position: absolute;
    top:0;
    left: 100%;
}
.box>ul>li:first-child{
    left:0;
}
.box>ul>li>a{
    display: block;
    width: 100%;
    height: 100%;
}
.box>ul>li>a>img{
    width: 100%;
    height: 100%;
}
.line{
    width: 100%;
    height: auto;
    position: fixed;
    top:0;
    left:0;
    z-index: 999;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255,255,255,0.5);
}
.line>span{
    display: block;;
    font-size: 16px;
    margin-left: 30px;
}
.line>ul{
    margin-right: 30px;
}
.line>ul>li{
    font-size: 18px;
    padding: 10px 20px;
    float: left;
    position: relative;
}
.line>ul>li>dl{
    background: rgba(255,255,255,0.5);
    position: absolute;
    top:44px;
    left:-5px;
    display: none;
}
.line>ul>li>dl>dd>a{
    display: block;
    color:#4a4949;
    font-size: 16px;
    margin: 10px 10px;
}
.line>ul>li>dl>dd:hover{
    background: #564852;
}
.line>ul>li:hover a{
    color:#9A585C;
}
.line>ul>li>a{
    color: #4a4949;
}
.list{
    position: absolute;
    bottom:30px;
    left: 50%;
    margin-left: -137px;
}
.list>ul{
    width: 220px;
    height: 10px;
}
.list>ul>li{
    float: left;
    margin-right: 5px;
}
.list>ul>li>a{
    display: block;
    width: 50px;
    height: 10px;
    border-radius: 10px;
    background:#b5afaf;
}
.list>ul>li:hover a{
    background: #666666;
}
/* 头部结束*/
.por h3{
    text-align: center;
    margin-top: 90px;
    margin-bottom: 10px;
}
.por p{
    font-size: 14px;
    text-align: center;
    line-height: 20px;
    color: #8a8282;
}
.por span{
    display: block;
    text-align: center;
    line-height: 20px;
    margin-bottom: 30px;
    margin-top: 30px;
    font-size: 14px;
}
.por a{
    margin-right: 20px;
    color: #333333;
}
.all .row li{
    margin-bottom: 20px;
    position: relative;
    perspective: 500px;
    overflow: hidden;
}
.all .row img{
    display: block;
    width: 100%;
    height: 100%;
    transition: all 1s;
}
.sousuo{
    width: 100px;
    height: 50px;
    /*background: #fff;*/
    position: absolute;
    top:50%;
    left:50%;
    margin-top:-25px;
    margin-left:-50px;
    /* display: none; */
    transform-style: preserve-3d;
    transition: all 1s;
    opacity: 0;
    font-size: 24px;
    line-height: 50px;
    text-align:center;
}
.sousuo a{
    color: #ff0000;
}
.all .row li:hover .hei{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    overflow: hidden;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 1s;
}
.all .row li:hover .sousuo{
    display: block;
    transform: rotate3d(1, 0, 0, 360deg);
    opacity: 1;
}
.all .row li:hover img{
    transform: scale(1.1,1.1);
}
.sousuo .iconfont{
    color: #000;
}
label.wel {
    background: #ff9800;
    width: 150px;
    height: 3px;
    display: block;
    margin: 20px auto 30px;
}
.fir_head {
    font-size: 36px;
    color: #212121;
    font-weight: 600;
    margin-bottom: 30px;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-align: center;
}
.fir-box-left{
    float: left;
    background: #c6c1c1;
    text-align: center;
}
.fir-box-left>.fbl-left>img{
    display: block;;
    width:40px;
    height:40px;
    margin: 10px auto;
}
.fir-box-left>.fbl-left>h3{
    font-size: 20px;
    color:#999;
    line-height: 40px;
}
.fir-box-left>.fbl-left>p{
    font-size: 14px;
    color:#666;
    line-height: 30px;
    margin:9px 20px;
}
.fir-box-right{
    float: right;
    text-align: right;
}
.fir-box-right>h2{
    font-size: 22px;
    color: #000000;
    font-weight: 600;
    margin-top: 20px;
}
.fir-box-right>p>i{
    display: block;;
    color:#ff6700;
    font-size: 14px;
}
.fir-box-right>p{
    font-size: 14px;
    color:#999;
    line-height: 30px;
}
.latest h3{
    text-align: center;
    margin-bottom: 30px;
    margin-top: 90px;
}
.latest p{
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    color:  #8a8282;
}
.latest .row{
    margin-top: 30px;
}
.latest .row .wenzi:hover{
    box-shadow: 0 1px 10px 3px rgba(0, 0, 0, 0.3);
}
.latest .row a{
    display: block;
}
.latest img{
    display: block;
    width: 100%;
    height: 100%;
}
.latest .row .out{
    color: #333333;
    margin-top: 10px;
}
.latest .row .qui{
    font-size: 14px;
    line-height: 16px;
    color: #8c8a88;
     margin:0 15px;
}
.latest .feb{
    color: #616161;
   margin:10px 15px;
}
.load{
    width: 161px;
    height: 45px;
    border-radius: 25px;
    border: 3px solid #000;
    margin: 40px auto 80px;
    line-height: 40px;
    text-align: center;
    transition: all 0.5s;
}
.load a{
    color: #000;
}
.load:hover{
    background: #000;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 1.0);
}
.load:hover a{
    color: #fff;
}
.cont>.container>h2{
    font-size: 24px;
    color:#666;
    margin:10px 0;
}
.cont>.container>.row{
    width: 100%;
    height: auto;
}
.cont-child{
    height: auto;
    border:5px solid #fff;
    margin-bottom:20px;
}
.cont-child>h5{
    font-size: 18px;
    color: #9f9d9d;
    text-align: center;
    line-height: 30px;
    margin:10px 10px;
}
.cont-child>.imag>img{
    width: 100%;
    height:100%;
    transition: all 1s;
}
.cont-child>.imag:hover img{
    transform: scale(1.1,1.1);
}
.cont-child>a{
    display: block;;
    border:1px solid #1a1919;
    font-size: 16px;
    color:#666666;
    text-align: center;
    padding:5px 5px;
    margin:10px 25px;
    transition: all 1s;
}
.cont-child>a:hover{
    border:1px solid #ff6700;
    background: #ff6700;
    color:#fff;
}
.produ>.container>h2{
    font-size: 24px;
    color:#666;
    margin:45px 0;
}
.produ-child>.imga{
    padding-left: 0;
    float: left;
    width: 50%;
}
.produ-child>.imga>img{
    width: 100%;
    height:100%;
}
.produ-child>.pc-box{
    float: right;
    width: 50%;
}
.produ-child>.pc-box>span{
    font-size: 18px;
    color:#4e4d4d;
    margin-left:20px;
}
.produ-child>.pc-box>p{
    font-size: 14px;
    color:#ccc;
    text-align: left;
    margin-left: 10px;
}
.produ-child>.pc-box>a{
    display: block;
    font-size: 16px;
    color:#888;
    border:1px solid #999;
    padding:5px 10px;
    margin:30px 80px;
    text-align: center;
    transition: all 1s;
}
.produ-child>.pc-box>a:hover{
    color:#fff;
    background: #ff6700;
}
.wedd>.container>h2{
    font-size: 24px;
    color: #666;
    margin: 45px 0;
}
.row>.wedd-tu:first-child{
    height: 300px;
    background: url("../img/wedd1.jpg") center / cover;
    position: relative;
}
.row>.wedd-tu:nth-child(2){
    height: 300px;
    background: url("../img/wedd2.jpg") center / cover;
    position: relative;
}
.row>.wedd-tu:nth-child(3){
    height: 300px;
    background: url("../img/wedd1.jpg") center / cover;
    position: relative;
}
.row>.wedd-tu:nth-child(4){
    height: 300px;
    background: url("../img/wedd4.jpg") center / cover;
    position: relative;
}
.row>.wedd-tu:nth-child(5){
    height: 300px;
    background: url("../img/wedd1.jpg") center / cover;
    position: relative;
}
.row>.wedd-tu:nth-child(6){
    height: 300px;
    background: url("../img/wedd5.jpg") center / cover;
    position: relative;
}
.row>.wedd-tu>.mask{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    position: absolute;
    top:0;
    left:0;
    transform: scale(0,0);
    transition: .5s;
}
.row>.wedd-tu:hover .mask{
    transform: scale(1,1);
}
.row>.wedd-tu>.mask>h2{
    font-size: 50px;
    color:#d8d3d3;
    margin-left:20px;
    margin-top:20px;
}
.row>.wedd-tu>.mask>span{
    position: absolute;
    top:180px;
    left:20px;
    font-size: 24px;
    color:#d8d3d3;
    line-height: 50px;
}
.row>.wedd-tu>.mask>p{
    position: absolute;
    top:225px;
    left:20px;
    font-size: 18px;
    color:#d8d3d3;
}
.pla{
    background: rgba(255, 255,255,0.8);
}
.pla>.container>h2{
     font-size: 24px;
    color: #666;
    margin: 45px 0;
}
.pla-fir>a{
   display: block;
   width: 100%;
   height: auto;
}
.pla-fir>a>img{
    width: 100%;
}
.pla-fir>p{
    display: block;
    background: #999;
    font-size: 16px;
    color: #666;
    padding: 8px 0;
    margin-bottom: 15px;
    text-align: center;
}
.con .row{
    margin-top: 50px;
    position: relative;
}
.con .conchildfir{
    height: 400px;
}
.con .conchildfir>img{
    width: 100%;
    height: 100%;
}
.con .contextfir{
    background: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    border: 2px solid rgba(253, 207, 0, 0.5);
    margin-top:39px;
   /*  position: absolute;
   top: 55px;
   left: 450px; */
}
.con .contextfir>h2{
    font-size: 28px;
     line-height: 45px;
    color: #464343;
}
.con .contextfir>p{
    font-size: 20px;
    line-height: 35px;
    color: #464343;
    margin: 20px 5px;
}
.endbox{
    margin-top: 80px;
    background: url("../img/bottom.jpg") center/cover;
    height: 400px;
}
.endbox .endh2{
    margin-top: 105px;
    font-size: 20px;
    line-height: 40px;
    color: #fff;
    text-align: center;
}
.endbox .endh3{
    font-size: 18px;
    line-height: 40px;
    color: #fff;
    text-align: center;
}
.endbox .endli{
    display: flex;
    justify-content: center;
    align-items: center;
}
.endbox .endli>li{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 30px 20px;
    cursor: pointer;
    transition: all 1s;
}
.endbox .endli>li:hover{
    transform: rotateY(360deg);
}
.endbox .endli>li>img{
    width: 100%;
    height: 100%;
}